/* Styles */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{

}

img{
    max-width: 100%;
    max-height: auto;
}

.clearfix:after,
.container:after{
    content: "";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

.clearfix,
.container{
    zoom: 1;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.container columns{
    float: left;
}

.container .columns.one { width: 25%; }
.container .columns.two { width: 50%; }
.container .columns.three { width: 75%; }
.container .columns.four { width: 100%; }

/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */
 
body:after {
    content: "less than 320px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #fff;
}
@media only screen and (min-width: 320px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90,60%,40%,0.7);
    }
}
@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180,60%,40%,0.7);
    }
}
@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }
}
@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    }
}