{% import 'base_helper.tmpl' as base_helper with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {{ base_helper.html_head() }}
    {% block extra_head %}{% endblock %}
    {{ extra_head_data}}
  </head>
  <body>
    <div class="container">
      <header>
	<p>sometimes you gotta run before you can walk. <small><a href="https://en.wikipedia.org/wiki/Iron_Man">T Stark</a></small></p>
	<a class="nav-link" href="#navigation"></a>
      </header><!--/header-->
      <div class="columns four">
	{% block content %}{% endblock %}
      </div><!--columns four-->
    </div><!--container-->

    <nav id="navigation">
      <div class="logo"></div>
      <ul>
	{{ base_helper.html_sidebar_links() }}
      </ul><!--/ul-->
    </nav><!--/navigation-->

</div><!--/container-->
<footer class="container">
  <div class="columns one">
    <h2>About</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper orci at accumsan feugiat. Curabitur ipsum eros, vehicula ut neque vel, euismod ornare lacus. Donec finibus fringilla orci, sit amet luctus neque egestas nec. Quisque hendrerit lacinia tellus non sollicitudin. Mauris purus sem, imperdiet non lorem at, fringilla dapibus libero. Sed bibendum tortor lacus, nec. </p>
  </div>
  <div class="columns one">
    <h2>Social</h2>
    <p class="center">
      <a class="social github" href="http://github.com"></a>
      <a class="social twitter" href="http://twitter.com"></a>
      <a class="social lastfm" href="http://last.fm"></a>
      <a class="social reddit" href="http://reddit.com"></a>
    </p><!-- center -->
  </div>
  <div class="columns one">
    <h2>Projects</h2>
    <ul>
      <li class="project"><a href="#">Project 1</a></li>
      <li class="project"><a href="#">Project 2</a></li>
      <li class="project"><a href="#">Project 3</a></li>
      <li class="project"><a href="#">Project 4</a></li>
    </ul>
  </div><!-- column one -->
  <div class="columns one">
    <h2>Links</h2>
  </div>
</footer><!--/container-->

</body>
</html>
