{% extends "base.tmpl" %}
{% block content %}
<!--Body content-->
<div id="coreContent">
  <div id="links" class="single hentry">
    <div class="postContent">
      <h2 class="entry-title">{{ title }}</h2>
      <div class="entry-content">
        <ul class="linkList">
          {% for text, link in items %}
          <li><a href="{{ link }}">{{ text }}</a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End of body content-->
{% endblock %}