{% extends "base.tmpl" %}
{% block content %}
  <article>
    <h2>{{ title }}</h2>
    <ul id="recentPosts">
      {% for post in posts %}
        <li><a href="{{ post.permalink() }}">{{ post.title() }}</a>
          <div class="postDate"><abbr class="published">{{ post.formatted_date(date_format) }}</abbr></div>
        {% endfor %}
    </ul>
  </article>
{% endblock %}
