{% extends "base.tmpl" %}
{% block content %}
  <article>
    <h2>{{ title }}</h2>
    <div class="entry-content">
      <ul class="linkList">
        {% for text, link in items %}
          <li><a href="{{ link }}">{{ text }}</a>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}
