{% extends "base.tmpl" %}
{% block content %}
<div id="coreContent">
  <div id="archives" class="single hentry">
    <h2 class="entry-title">{{ title }}</h2>
    <ul class="tagCloud">
      {% for text, link in items %}
      <li><a class="tag" href="{{ link }}"><span class="badge badge-info">{{ text }}</span></a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}